<!-- header -->
<div class="container">
    <div class="row">
        <div class="col-lg-2" *ngFor="let c of category"> 
           <div class="nav">
            <img src="{{baseUrl}}/{{c.image}}" >
            </div>
            <div class="nav2">
           <a [routerLink]="['/',c.categoryName]">{{c.categoryName}} </a>
           </div>
        </div>
    </div>
</div>

<!-- box -->


<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let c of categoryItems">
            <div class="homecard ">
                <img src="{{baseUrl}}/{{c.image}}" alt="">
            </div>
            <div class="homecard-2 d-flex justify-content-between">
                <h2>{{c.companyName}}</h2>
                <a [routerLink]="['/booking',c._id]" >More Details <i class="bi bi-arrow-right-square-fill mt-2"></i></a>
                
            </div>
           
        </div>
        
  </div>

</div> 
